/* 

    #ff0000 - vermelho
    #00ffff - azul
    #191919 - preto

*/

/*************************
*******Typography******
**************************/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap);

html {
    width: 100% !important;
}

body {
    width: 100% !important;

    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 400px;
}

ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
    background: none !important;
}

a {
    -webkit-transition: 300ms;
    transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

.btn:hover,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggle {
    background-color: #000;
}

a#scrollUp {
    bottom: 22px;
    right: 25px;
    padding: 5px 10px;
    background: #000000;
    color: #FFF;
    border-radius: .6rem;
    transition: .3s;
}

a#scrollUp:hover {
    border-radius: .9rem;
}

a#scrollUp i {
    font-size: 30px;
}

.pop-up {
    position: fixed;
    right: 6rem;
    top: 3rem;
  
    width: 23rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    visibility: hidden;
  
    padding: 1.5rem 1.5rem;
  
    font-size: 1.6rem;
  
    background-color: #151516;
    border-radius: .5rem;
    border: 1px solid #1a1a20;
  
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  
    animation: displayPopUp 3s;
}

@keyframes displayPopUp {
    0% {
        visibility: visible;
        right: -23rem;
    }

    20% {
        right: 6rem;
    }

    70% {
        right: 6rem;
    }

    100% {
        right: -23rem;
    }
}

@media(max-width: 500px) {
    @keyframes displayPopUp {
        0% {
            visibility: visible;
            right: -23rem;
        }

        20% {
            right: 3rem;
        }

        70% {
            right: 3rem;
        }

        100% {
            right: -23rem;
        }
    }
}

.pop-up span {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    color: #c8cee0;
}

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.load span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-left-color: black;
    animation: spin 1s linear infinite;
}

@media (max-width: 1000px) {
    .load span {
        width: 80px;
        height: 80px;
        border-width: 4px;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/*************************
*******Header CSS******
**************************/

#header {
    margin-bottom: 3rem;
    
}

.header_top {
    background: none repeat scroll 0 0 #191919;
    padding: .4rem 0;
}

.contactinfo ul li:first-child {
    margin-left: -15px;
}

.contactinfo ul li a {
    font-size: 12px;
    color: #e0e7f5;
    font-family: 'Roboto', sans-serif;
}

.contactinfo ul li a:hover {
    background: inherit;
}

.social-icons ul li a {
    border: 0 none;
    border-radius: 0;
    color: #e0e7f5;
    padding: 0px;
}

.social-icons ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons ul li:first-child {
    margin-right: 1.5rem;
}

.social-icons ul li a i {
    padding: 11px 15px;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover {
    color: #fff;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.fa-facebook:hover {
    background: #0083C9;
}

.fa-twitter:hover {
    background: #5BBCEC;
}

.fa-youtube-play:hover {
    background: #FF0000;
}

.fa-linkedin:hover {
    background: #FF4518;
}

.fa-instagram:hover {
    background: #E4405F;
}

.fa-dribbble:hover {
    background: #90C9DC;
}

.fa-google-plus:hover {
    background: #CE3C2D;
}

.header-middle .container .row {
    display: flex;
    justify-content: space-between !important;
    align-items: center;

    /* border-bottom: 1px solid #f5f5f5; */
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;
}

.header-middle .container .row .col-sm-4 {
    padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
    padding-right: 0;
}

.header-middle .logo a img {
    width: 95px;
}

.usa {
    border-radius: 0;
    color: #B4B1AB;
    font-size: 12px;
    margin-right: 20px;
    padding: 2px 15px;
    margin-top: 10px;
}

.usa:hover {
    background: #171225;
    color: #fff;
    border-color: #171225;
}

.usa:active,
.usa.active {
    background: none repeat scroll 0 0 #171225;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    outline: 0 none;
}

.btn-group.open .dropdown-toggle {
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    background-color: #171225;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.shop-menu ul li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.shop-menu ul li:last-child {
    padding-right: 0;
}

.shop-menu ul li a {
    color: #d4dbe7;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    padding-right: 0;
    margin-top: 10px;
}

.shop-menu ul li a .numero-itens {
    position: absolute;
    right: -5px;
    top: -5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 80%;
    font-weight: 500;
    width: 14px;
    height: 14px;
    border-radius: 50%;

    color: #191919;
    background-color: #00ffff;
}

.shop-menu ul li a i {
    margin-right: 3px;
}

.shop-menu ul li a:hover {
    color: #ffffff;
    background: none;
}

.header-bottom {
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar-collapse.collapse {
    padding-left: 0;
}

.mainmenu ul li {
    padding-right: 15px;
    padding-left: 15px;
}

.mainmenu ul li:first-child {
    padding-left: 0px;
}

.mainmenu ul li a {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0;

    transition: color .3s;
}

.mainmenu ul li a:hover,
.mainmenu ul li a.active,
.shop-menu ul li a.active {
    background: none;
    color: #000000;
}

.search_box input {
    background: #ffffff;
    color: #191919;
    border: 1px solid rgb(145, 146, 153);
    border-radius: 4px;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    padding-left: 10px;
    width: 155px;

    position: relative;

    background-image: url(../images/home/searchicon.png);
    background-repeat: no-repeat;
    background-position: 130px;

    transition: .3s;
}

/* .search_box input:focus {
    width: 185px;
    background-position: 160px;
} */

.search_box button {
    position: absolute;
    top: 0;
    right: 1.5rem;

    width: 3.3rem;
    height: 100%;
    border-radius: 4px;
    
    opacity: 0;
}


/*  Dropdown menu*/

.navbar-header .navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav.navbar-nav>li:hover>ul.sub-menu,
.nav.navbar-nav>li:focus>ul.sub-menu {
    display: block !important;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}

ul.sub-menu {
    position: absolute;
    top: 21px;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none !important;
    z-index: 999;
}

.dropdown ul.sub-menu li .active {
    color: #FDB45E;
    padding-left: 0;
}

.navbar-nav li ul.sub-menu li {
    padding: 10px 20px 0;
}

.navbar-nav li ul.sub-menu li:last-child {
    padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a {
    color: #ebebf0;
}

.navbar-nav li ul.sub-menu li a:hover {
    color: #ffffff;
}

.fa-angle-down {
    padding-left: 5px;
}

/*
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
*/

/*************************
*******Carousel CSS******
**************************/

.carousel-container {
    margin-bottom: 5rem;

    padding: 0 15px;
}

.carousel-container .carousel-wrapper {
    padding: 2rem 19.1rem;

    border: 1px solid #F7F7F5;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 2rem;
}

@media (max-width: 990px) {
    .carousel-container .carousel-wrapper {
        padding: 2rem 8rem;
    }
}

@media (max-width: 600px) {
    .carousel-container .carousel-wrapper {
        padding: 2rem 4rem;
    }
}

.carousel-container .carousel-wrapper .carousel .slick-arrow {
    color: black !important;
}

.slick-prev:before, 
.slick-next:before {
    color: black !important;
    transition: .2s;
}

.carousel-container .carousel-wrapper .carousel .slick-list {
    margin: 0 3rem;
    text-align: center;
}

/*************************
*******Footer CSS******
**************************/

#footer {
    background: #191919;
}

.footer-top .container {
    padding-bottom: 20px;
    width: 100%;
}

.footer-top.container::before,
.footer-top.container::after {
    display: none;
    content: none;
}

.footer-top .container::before,
.footer-top .container::after {
    display: none;
    content: none;
}

.footer-top .container .row::before,
.footer-top .container .row::after {
    display: none;
    content: none;
}

.footer-top .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.footer-top .social-networks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
}

.footer-top .social-networks-container h2 {
    color: #b9b9b0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
}

.footer-top .social-networks-container .social-networks-content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    gap: 1.6rem !important;
}

.footer-top .social-networks-container .social-networks-content a {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;

    transition: color .3s;
}

.footer-top .social-networks-container .social-networks-content a:hover {
    color: white;
    background: none;
}

.footer-top .social-networks-container .social-networks-content a i {
    background: none;
}

.companyinfo {
    margin-top: 57px;
}

.companyinfo img {
    width: 100px;
    margin-bottom: .75rem;
}

.companyinfo h2 {
    display: flex;
    flex-direction: column;
    
    gap: .5rem;
    font-weight: 700;
    font-style: italic;
    color: #161515;
    text-decoration: none;
    line-height: 0.75;
    letter-spacing: 0.071em;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: rgb(0 255 255) 1.60771px -0.371169px 0px, rgb(255 0 0) -1.60771px 0.371169px 0px;
}

.companyinfo p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.footer-top .col-sm-3 {
    overflow: hidden;
}

.video-gallery {
    margin-top: 57px;
    position: inherit;
}

.video-gallery a img {
    height: 100%;
    width: 100%;
}

.iframe-img {
    position: relative;
    display: block;
    height: 61px;
    margin-bottom: 10px;
    border: 2px solid #CCCCC6;
    border-radius: 3px;
}

.overlay-icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 61px;
    background: #171225;
    border-radius: 3px;
    color: #FFF;
    font-size: 20px;
    line-height: 0;
    display: block;
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.overlay-icon i {
    position: relative;
    top: 50%;
    margin-top: -20px;
}

.video-gallery a:hover .overlay-icon {
    opacity: 1;
}

.video-gallery p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
}

.video-gallery h2 {
    color: #8c8c88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0px;
}

.address {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.address img {
    width: 100%;
}

.address p {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    left: 25px;
    position: absolute;
    top: 50px;
}

.footer-widget {
    margin-bottom: 68px;
}

.footer-widget .container {
    border-top: 1px solid #494947;
    padding-top: 15px;
}

.single-widget h2 {
    color: #b9b9b0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.single-widget h2 i {
    margin-right: 15px;
}

.single-widget ul li a {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0;
}

.single-widget ul li a i {
    margin-right: 18px;
}

.single-widget ul li a:hover {
    background: none;
    color: #ffffff;
}

.single-widget ul li a:focus {
    background: none;
}

.single-widget.payment-methods-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.single-widget.payment-methods-container .payment-methods-content img {
    width: 40px;
}

.single-widget.payment-methods-container .payment-methods-content img+img {
    margin-left: .6rem;
}

.searchform input {
    border: 1px solid #DDDDDD;
    color: #CCCCC6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 0;
    outline: medium none;
    padding: 7px;
    width: 212px;
}

.searchform button {
    background: #171225;
    border: medium none;
    border-radius: 0;
    margin-left: -5px;
    margin-top: -3px;
    padding: 7px 17px;
}

.searchform button i {
    color: #FFFFFF;
    font-size: 20px;
}

.searchform button:hover,
.searchform button:focus {
    background-color: #171225;
}

.searchform p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
}

.footer-bottom {
    background: #202020;
    padding-top: 10px;
}

.footer-bottom p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 15px;
}

.footer-bottom p span a {
    color: #171225;
    font-style: italic;
    text-decoration: underline;
}


/*************************
******* Home ******
**************************/

#slider {
    display: flex;
    justify-content: center;

    height: 110px !important;
    padding-bottom: 45px;
}

#slider .container {
    display: flex;
    justify-content: center;
}

#slider .container .row {
    display: flex;
    justify-content: center;
}

#slider #slider-carousel {
    height: 100%;
}



#slider #slider-carousel .carousel-inner {
    height: 100%;

    display: flex;
    justify-content: center;
}

.carousel-indicators {
    bottom: -60px;
}

.carousel-indicators li {
    background: #C4C4BE;
}

.carousel-indicators li.active {
    background: #171225;
}

.item {
    padding-left: 100px;
}

#slider {
    margin: 5rem 0;
    padding: 2rem 0 !important;

    border-top: 1px solid #ebebe0;
    border-bottom: 1px solid #ebebe0;
}

#slider .item {
    padding: 0 5rem;
}

#slider .item .col-sm-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
}

#slider .item .col-sm-6 h2 {
    margin: 0 !important;
}

#slider .item .col-sm-6 p {
    margin-bottom: 0 !important;
}

.pricing {
    position: absolute;
    right: 40%;
    top: 52%;
}

.girl {
    margin-left: 0;
}

.item h1 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 48px;
    margin-top: 115px;
}

.item h1 span {
    color: #171225;
}

.item h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 10px;
}

.item p {
    color: #363432;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.get {
    background: #171225;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 23px;
}

.item button:hover {
    background: #171225;
}

.control-carousel {
    position: absolute;
    top: calc(50% - 42.5px);
    font-size: 60px;
    color: #C2C2C1;
}

.control-carousel:hover {
    color: #171225;
}

.right {
    right: 0;
}

.category-products {
    border: 1px solid #F7F7F0;
    margin-bottom: 35px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.left-sidebar h2,
.brands_products h2 {
    color: #171225;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

.left-sidebar h2:after,
h2.title:after {
    content: " ";
    position: absolute;
    border: 1px solid #f5f5f5;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
}

.left-sidebar h2:before {
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 130px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -65px;
}

h2.title:before {
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 220px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -110px;
}

.category-products .panel {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0 none;
}

.category-products .badge {
    background: none;
    border-radius: 10px;
    color: #696763;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.panel-body ul {
    padding-left: 20px;
}

.panel-body ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.brands-name {
    border: 1px solid #F7F7F0;
    padding-bottom: 20px;
    padding-top: 15px;
}

.brands-name .nav-stacked li a {
    background-color: #FFFFFF;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 5px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover {
    background-color: #fff;
    color: #696763;
}

.shipping {
    background-color: #F2F2F2;
    margin-top: 40px;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
}

.price-range {
    margin-top: 30px;
}

.price-range .price-range-control {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.well {
    background-color: #FFFFFF;
    border: 1px solid #F7F7F0;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 35px;
}

.tooltip-inner {
    background-color: #171225;
    border-radius: 4px;
    color: #FFFFFF;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #171225;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

.padding-right {
    padding-right: 0;
}

@media (max-width: 767px) {
    .features-items-container {
        padding-right: 15px !important;
    }
}

.features_items {
    overflow: hidden;
}

h2.title {
    color: #171225;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.product-image-wrapper {
    border: 1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
}

.single-products {
    position: relative;
}

.new,
.sale {
    position: absolute;
    top: 0;
    right: 0;
}

.productinfo h2 {
    color: #171225;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.product-overlay h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.productinfo p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
}

.productinfo img {
    width: 100%;
}

.productinfo {
    position: relative;
}

.product-overlay {
    background: rgba(78, 72, 63, 0.8);
    top: 0;
    display: none;
    height: 0;
    position: absolute;
    -webkit-transition: height 500ms ease 0s;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;
}

.single-products .productinfo .favorite-item-button,
.single-products .product-overlay .favorite-item-button {
    position: absolute;
    top: 10px;
    right: 14px;

    padding: 0;
    background-color: transparent;
    border: none;
    outline: hidden;

    font-size: 18px;
}

.single-products:hover .product-overlay {
    display: block;
    height: 100%;
}

.product-overlay .overlay-content {
    bottom: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.product-overlay .add-to-cart {
    background: #fff;
    border: 0 none;
    border-radius: 0;
    color: #171225;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
    background: #fff;
    color: #171225;
}

.product-overlay p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.add-to-cart {
    background: #F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.add-to-cart:hover {
    background: #171225;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
}

.add-to {
    margin-bottom: 10px;
}

.add-to-cart i {
    margin-right: 5px;
}

.add-to-cart:hover {
    background: #171225;
    color: #FFFFFF;
}

.choose {
    border-top: 1px solid #F7F7F0;
}

.choose ul li a, .choose ul li button {
    background: none;
    color: #B3AFA8;
    outline: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;

    transition: color .3s;
}

.choose ul li a i, .choose ul li button i {
    margin-right: 5px;
}

.choose ul li a:hover, .choose ul li button:hover {
    background: none;
    color: #171225;
}

.category-tab {
    overflow: hidden;
}

.category-tab ul {
    background: #40403E;
    border-bottom: 1px solid #171225;
    list-style: none outside none;
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
}

.category-tab ul li a {
    border: 0 none;
    border-radius: 0;
    color: #B3AFA8;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.category-tab ul li a:hover {
    background: #171225;
    color: #fff;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #171225;
    border: 0px;
    color: #FFFFFF;
    cursor: default;
    margin-right: 0;
    margin-left: 0;
}

.nav-tabs li a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 0;
}

.recommended_items {
    overflow: hidden;
    padding-left: 3rem;
}

@media (max-width: 767px) {
    .recommended_items {
        padding: 0 15px !important;
    }
}

#recommended-item-carousel {
    padding-left: 0;
}

.recommended-item-control {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.recommended-item-control i {
    background: none repeat scroll 0 0 #000000;
    opacity: .75;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px 10px;

    border-radius: 50%;

    transition: .3s;
}

.recommended-item-control i:hover {
    opacity: 1;
}

/*.recommended_items h2 {} */

.our_partners {
    overflow: hidden;
}

.our_partners ul {
    background: #F7F7F0;
    margin-bottom: 50px;
}

.our_partners ul li a:hover {
    background: none;
}


/************************
*******Shop CSS******
*************************/

#advertisement {
    padding-bottom: 45px;
}

#advertisement img {
    width: 100%;
}

.pagination {
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 0;
    padding-left: 15px;
}

.pagination li:first-child a,
.pagination li:first-child span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}

.pagination li:last-child a,
.pagination li:last-child span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus {
    background-color: #171225;
    border-color: #171225;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}

.pagination li a,
.pagination li span {
    background-color: #f0f0e9;
    border: 0;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    margin-right: 5px;
    color: #000;
}

.pagination li a:hover {
    background: #171225;
    color: #fff;
}


/*************************
*******Product Details CSS******
**************************/

.product-details {
    overflow: hidden;
}

#similar-product {
    margin-top: 40px;
}

#reviews {
    padding-left: 25px;
    padding-right: 25px;
}

.product-details {
    margin-bottom: 40px;
    overflow: hidden;
    margin-top: 10px;
}

.view-product {
    position: relative;
}

.view-product img {
    border: 1px solid #F7F7F0;
    height: 380px;
    width: 100%;
}

.view-product h3 {
    background: #171225;
    bottom: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 8px 20px;
    position: absolute;
    right: 0;
}

.carousel-inner .item {
    padding-left: 0px;
}

.carousel-inner .item img {
    display: inline-block;
}

.carousel-inner .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 3;

    opacity: 0;
    color: #FFFFFF;

    width: 28px;
    height: 28px;

    border-radius: .4rem;
}

.carousel-inner .slick-arrow.slick-prev {
    left: 0 !important;
}

.carousel-inner .slick-arrow.slick-next {
    right: 0 !important;
}

.item-control {
    position: absolute;
    top: 35%;
}

.item-control i {
    background: #171225;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 10px;
}

.item-control i:hover {
    background: #ccccc6;
}

.product-information {
    border: 1px solid #F7F7F0;
    overflow: hidden;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
}

.newarrival {
    position: absolute;
    top: 0;
    left: 0
}

.product-information h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 0;
}

.product-information p {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.product-information span {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 18px;
}

.product-information span span {
    color: #171225;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 0px;
}

.product-information span input {
    border: 1px solid #DEDEDC;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 33px;
    outline: medium none;
    text-align: center;
    width: 50px;
}

.product-information span label {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-right: 5px;
}

.share {
    margin-top: 15px;
}

.cart {
    background: #171225;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.shop-details-tab {
    border: 1px solid #F7F7F0;
    margin-bottom: 75px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
}

.shop-details-tab .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

#reviews ul {
    background: #FFFFFF;
    border: 0 none;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}

#reviews ul li {
    display: inline-block;
}

#reviews ul li a {
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-right: 15px;
}

#reviews ul li a i {
    color: #171225;
    padding-right: 8px;
}

#reviews ul li a:hover {
    background: #fff;
    color: #171225;
}

#reviews p {
    color: #363432;
}

#reviews form span {
    display: block;
}

#reviews form span input {
    background: #F0F0E9;
    border: 0 none;
    color: #A6A6A1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 8px;
    width: 48%;
}

#reviews form span input:last-child {
    margin-left: 3%;
}

#reviews textarea {
    background: #F0F0E9;
    border: medium none;
    color: #A6A6A1;
    height: 195px;
    margin-bottom: 25px;
    margin-top: 15px;
    outline: medium none;
    padding-left: 10px;
    padding-top: 15px;
    resize: none;
    width: 99.5%;
}

#reviews button {
    background: #171225;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


/*************************
*******404 CSS******
**************************/

.page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

.logo-404 {
    /* margin-top: 40px; */
    margin-bottom: 30px;
}

.content-404 {
    margin-bottom: 60px;
}

.content-404 h1 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.content-404 img {
    width: 40rem;

    margin: 0 auto;
}

.content-404 p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.content-404 h2 {
    margin-top: 30px;
}

.content-404 h2 a {
    background: #171225;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-weight: 300;
    padding: 8px 40px;
    border-radius: .8rem;
}


/*************************
*******login page CSS******
**************************/

#form {
    display: block;
    margin-bottom: 6rem;
    margin-top: 2.5rem;
    overflow: hidden;
}

/*.login-form {}*/

.signup-form .register-user-form-container .form-content-row {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;

    width: 100%;
}

.signup-form .register-user-form-container .form-content-row input {
    margin-right: .6rem;
}

.signup-form .register-user-form-container .form-content-row input+input {
    margin-left: .6rem;
    margin-right: 0;
}

.signup-form .register-user-form-container .form-content-row .gender-radio-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.signup-form .register-user-form-container .form-content-row .gender-radio-content+.gender-radio-content {
    margin-left: 2rem;
}

.signup-form .register-user-form-container .form-content-row .gender-radio-content label {
    color: #97938b;
    font-weight: 400;

    cursor: pointer;
}

.signup-form .register-user-form-container .form-content-row .gender-radio-content input {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: .5rem;
    margin-top: 0 !important;

    color: #c7c1b7;

    cursor: pointer;
}

.signup-form .register-user-form-container h5 {
    margin-top: 2rem;

    font-weight: 400;
    font-size: 110%;
    color: #696763;
}

.signup-form .register-user-form-container .btn-register {
    margin-top: 2rem;
}

.login-form h2,
.signup-form h2 {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.login-form form input,
.signup-form form input {
    background: #F0F0E9;
    border: medium none;
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
    width: 100%;
}

.login-form form span {
    line-height: 25px;
}

.login-form form span input {
    width: 15px;
    float: left;
    height: 15px;
    margin-right: 5px;
}

.login-form form button {
    margin-top: 23px;
}

.login-form form button,
.signup-form form button {
    background: #171225;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
}

/*.login-form label {}*/

.login-form label input {
    border: medium none;
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    outline: medium none;
    padding-left: 0;
}

.or {
    background: #171225;
    border-radius: 40px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-top: 75px;
    text-align: center;
    width: 50px;
}


/*************************
*******Cart CSS******
**************************/

#do_action {
    margin-bottom: 50px;
}

.breadcrumbs {
    position: relative;
}

.breadcrumbs .breadcrumb {
    background: transparent;
    margin-bottom: 75px;
    padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
    background: #171225;
    color: #FFFFFF;
    padding: 3px 7px;
}

.breadcrumbs .breadcrumb li a:after {
    content: "";
    height: auto;
    width: auto;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #171225;
    position: absolute;
    top: 11px;
    left: 48px;
}

.breadcrumbs .breadcrumb>li+li:before {
    content: " ";
}

#cart_items .cart_info {
    border: 1px solid #E6E4DF;
    margin-bottom: 50px
}

#cart_items .cart_info .cart_menu {
    background: #171225;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#cart_items .cart_info .table.table-condensed thead tr {
    height: 51px;
}

#cart_items .cart_info .table.table-condensed tr {
    border-bottom: 1px solid#F7F7F0
}

#cart_items .cart_info .table.table-condensed tr:last-child {
    border-bottom: 0
}

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
    margin-right: 5px;
}

#cart_items .cart_info .image {
    padding-left: 30px;
}

#cart_items .cart_info .cart_description h4 {
    margin-bottom: 0
}

#cart_items .cart_info .cart_description h4 a {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

#cart_items .cart_info .cart_description p {
    color: #696763
}

#cart_items .cart_info .cart_price p {
    color: #696763;
    font-size: 18px
}

#cart_items .cart_info .cart_total_price {
    color: #171225;
    font-size: 24px;
}

.cart_product {
    display: block;
    /*  margin: 15px -70px 10px 25px;*/
}

#remove{
    border: none;
}

.cart_quantity_button a {
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    /*float: left; */
    line-height: 28px;
}

.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.cart_delete {
    display: block;
    margin-right: -12px;
    overflow: hidden;
}

.cart_delete a {
    background: #F0F0E9;
    color: #FFFFFF;
    padding: 5px 7px;
    font-size: 16px
}

.cart_delete a:hover {
    background: #171225
}

.bg h2.title {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.heading h3 {
    color: #363432;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.heading p {
    color: #434343;
    font-size: 16px;
    font-weight: 300;
}

#do_action .total_area {
    padding-bottom: 18px !important;
}

#do_action .total_area,
#do_action .chose_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 30px 25px 30px 0;
    margin-bottom: 80px;
}

.total_area span {
    float: right;
}

.total_area ul li {
    background: #E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
}

.user_option label {
    color: #696763;
    font-weight: normal;
    margin-left: 10px;
}

.user_info {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    overflow: hidden;
}

.user_info label {
    color: #696763;
    display: block;
    font-size: 15px;
    font-weight: normal;
}

.user_info .single_field {
    width: 31%
}

.user_info .single_field.zip-field input {
    background: transparent;
    border: 1px solid#F0F0E9
}

.user_info>li {
    float: left;
    margin-right: 10px
}

/*.user_info>li>span {}*/

.user_info input,
select,
textarea {
    background: #F0F0E9;
    border: 0;
    color: #696763;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    resize: none
}

.user_info select:focus {
    border: 0
}

.chose_area .update {
    margin-left: 40px;
}

.update,
.check_out {
    background: #171225;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 18px;
    border: none;
    padding: 5px 15px;
}

.update {
    margin-left: 40px;
}

.check_out {
    margin-left: 20px
}


/*************************
*******checkout CSS******
**************************/

.step-one {
    margin-bottom: -10px
}

.register-req,
.step-one .heading {
    background: none repeat scroll 0 0 #F0F0E9;
    color: #363432;
    font-size: 20px;
    margin-bottom: 35px;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
}

.checkout-options {
    padding-left: 20px
}

.checkout-options h3 {
    color: #363432;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.checkout-options p {
    color: #434343;
    font-weight: 300;
    margin-bottom: 25px;
}

.checkout-options .nav li {
    float: left;
    margin-right: 45px;
    color: #696763;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.checkout-options .nav label {
    font-weight: normal;
}

.checkout-options .nav li a {
    color: #171225;
    font-size: 18px;
    font-weight: normal;
    padding: 0
}

.checkout-options .nav li a:hover {
    background: inherit;
}

.checkout-options .nav i {
    margin-right: 10px;
    border-radius: 50%;
    padding: 5px;
    background: #171225;
    color: #fff;
    font-size: 14px;
    padding: 2px 3px;
}

.register-req {
    font-size: 14px;
    font-weight: 300;
    padding: 15px 20px;
    margin-top: 35px;
}

.register-req p {
    margin-bottom: 0
}

.shopper-info p,
.bill-to p,
.order-message p {
    color: #696763;
    font-size: 20px;
    font-weight: 300
}

.shopper-info .btn-primary {
    background: #171225;
    border: 0 none;
    border-radius: 0;
    margin-right: 15px;
    margin-top: 20px;
}

.form-two,
.form-one {
    float: left;
    width: 47%
}

.shopper-info>form>input,
.form-two>form>select,
.form-two>form>input,
.form-one>form>input {
    background: #F0F0E9;
    border: 0 none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300
}

.form-two>form>select {
    padding: 10px 5px
}

.form-two {
    margin-left: 5%
}

.order-message textarea {
    font-size: 12px;
    height: 335px;
    margin-bottom: 20px;
    padding: 15px 20px;
}

.order-message label {
    font-weight: 300;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    font-size: 14px
}

.review-payment h2 {
    color: #696763;
    font-size: 20px;
    font-weight: 300;
    margin-top: 45px;
    margin-bottom: 20px
}

.payment-options {
    margin-bottom: 125px;
    margin-top: -25px
}

.payment-options span label {
    color: #696763;
    font-size: 14px;
    font-weight: 300;
    margin-right: 30px;
}

#cart_items .cart_info .table.table-condensed.total-result {
    margin-bottom: 10px;
    margin-top: 35px;
    color: #696763
}

#cart_items .cart_info .table.table-condensed.total-result tr {
    border-bottom: 0
}

#cart_items .cart_info .table.table-condensed.total-result span {
    color: #171225;
    font-weight: 700;
    font-size: 16px
}

#cart_items .cart_info .table.table-condensed.total-result .shipping-cost {
    border-bottom: 1px solid #F7F7F0;
}


/*************************
*******Blog CSS******
**************************/

.blog-post-area .single-blog-post h3 {
    color: #696763;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 17px;
}

/*.single-blog-post>a {}*/

.blog-post-area .single-blog-post a img {
    border: 1px solid #F7F7F0;
    width: 100%;
    margin-bottom: 30px
}

.blog-post-area .single-blog-post p {
    color: #363432
}

.blog-post-area .post-meta {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
}

.blog-post-area .post-meta ul {
    padding: 0;
    display: inline;
}

.blog-post-area .post-meta ul li {
    background: #F0F0E9;
    float: left;
    margin-right: 10px;
    padding: 0 5px;
    font-size: 11px;
    color: #393b3b;
    position: relative;
}

.blog-post-area .post-meta ul li i {
    background: #171225;
    color: #FFFFFF;
    margin-left: -4px;
    margin-right: 7px;
    padding: 4px 7px;
}

.sinlge-post-meta li i:after,
.blog-post-area .post-meta ul li i:after {
    content: "";
    position: absolute;
    width: auto;
    height: auto;
    border-color: transparent transparent transparent #171225;
    border-width: 4px;
    border-style: solid;
    top: 6px;
    left: 24px
}

.blog-post-area .post-meta ul span {
    float: right;
    color: #171225
}

.post-meta span {
    float: right;
}

.post-meta span i {
    color: #171225
}

.blog-post-area .single-blog-post .btn-primary {
    background: #171225;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 17px;
}

.pagination-area {
    margin-bottom: 45px;
    margin-top: 45px
}

.pagination-area .pagination li a {
    background: #F0F0E9;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    margin-right: 5px;
    padding: 4px 12px;
}

.pagination-area .pagination li a:hover,
.pagination-area .pagination li .active {
    background: #171225;
    color: #fff
}


/*************************
*******Blog Single CSS******
**************************/

.pager-area {
    overflow: hidden;
}

.pager-area .pager li a {
    background: #F0F0E9;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-size: 12px;
    font-weight: 700;
    padding: 4px;
    text-transform: uppercase;
    width: 57px;
}

.pager-area .pager li a:hover {
    background: #171225;
    color: #fff
}

.rating-area {
    border: 1px solid #F7F7F0;
    direction: block;
    overflow: hidden;
}

.rating-area ul li {
    float: left;
    padding: 5px;
    font-size: 12px
}

.rating-area .ratings {
    float: left;
    padding-left: 0;
    margin-bottom: 0
}

.rating-area .ratings li i {
    color: #CCCCCC
}

.rating-area .rate-this {
    color: #363432;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.rating-area .ratings .color,
.rating-area .color {
    color: #171225
}

.rating-area .tag {
    float: right;
    margin-bottom: 0;
    margin-right: 10px;
}

.rating-area .tag li {
    padding: 5px 2px;
}

.rating-area .tag li span {
    color: #363432;
}

.socials-share {
    margin-bottom: 30px;
    margin-top: 18px;
}

.commnets .media-object {
    margin-right: 15px;
    width: 100%;
}

.commnets {
    border: 1px solid #F7F7F0;
    padding: 18px 18px 18px 0;
    margin-bottom: 50px
}

.commnets .pull-left {
    margin-right: 22px
}

.commnets p,
.response-area p,
.replay-box p {
    font-size: 12px
}

.media-heading {
    color: #363432;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px
}

.blog-socials {
    margin-bottom: -9px;
    margin-top: 14px;
}

.blog-socials ul {
    padding-left: 0;
    overflow: hidden;
    float: left;
}

.blog-socials .btn.btn-primary {
    margin-top: 0;
}

.blog-socials ul li {
    float: left;
    height: 17px;
    margin-right: 5px;
    text-align: center;
    width: 17px;
}

.blog-socials ul li a {
    color: #393B3B;
    display: block;
    font-size: 10px;
    padding: 1px;
    background: #F0F0E9;
}

.blog-socials ul li a:hover {
    color: #fff;
    background: #171225
}

.media-list .btn-primary,
.commnets .btn-primary {
    background: #FC9A11;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    padding: 1px 7px;
    text-transform: uppercase;
}

.response-area h2 {
    color: #363432;
    font-size: 20px;
    font-weight: 700;
}

.response-area .media {
    border: 1px solid #F7F7F0;
    padding: 18px 18px 18px 0;
    margin-bottom: 27px
}

.response-area .media img {
    height: 102px;
    width: 100%;
}

.response-area .media .pull-left {
    margin-right: 25px
}

.response-area .second-media {
    margin-left: 5%;
    width: 95%;
}

.sinlge-post-meta {
    overflow: hidden;
    padding-left: 0;
    margin-bottom: 15px
}

.sinlge-post-meta li {
    background: #F0F0E9;
    color: #363432;
    float: left;
    font-size: 10px;
    font-weight: 700;
    margin-right: 10px;
    padding: 0 10px 0 0;
    position: relative;
    text-transform: uppercase;
}

.sinlge-post-meta li i {
    background: #171225;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 8px 10px;
}

.sinlge-post-meta li i:after {
    top: 7px;
    border-width: 6px;
    left: 27px;
}

.replay-box {
    margin-bottom: 107px;
    margin-top: 55px;
}

.replay-box h2 {
    font-weight: 700;
    font-size: 20px;
    color: #363432;
    margin-top: 0;
    margin-bottom: 45px
}

.replay-box label {
    background: #171225;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 3px 15px;
    float: left;
    font-weight: 400;
}

.replay-box span {
    color: #171225;
    float: right;
    font-weight: 700;
    margin-top: 21px;
}

.replay-box form input {
    border: 1px solid #F7F7F0;
    color: #b3c7c7;
    font-size: 12px;
    margin-bottom: 22px;
    padding: 8px;
    width: 100%;
}

.replay-box form input:hover,
.text-area textarea:hover {
    border: 1px solid #171225;
}

.text-area {
    margin-top: 66px
}

.text-area textarea {
    background: transparent;
    border: 1px solid#F7F7F0
}

.btn.btn-primary {
    background: #171225;
    border: 0 none;
    border-radius: 0;
    margin-top: 16px;
}

.blank-arrow {
    position: relative;
}

.blank-arrow label:after {
    content: "";
    position: absolute;
    width: auto;
    height: auto;
    border-style: solid;
    border-width: 8px;
    border-color: #171225 transparent transparent transparent;
    top: 25px;
    left: 5px
}


/*************************
******* Contact CSS ********
**************************/

.contact-map {
    width: 100%;
    height: 385px;
    margin-bottom: 70px
}

.contact-info .heading,
.contact-form .heading {
    text-transform: capitalize;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

#contact-page {
    margin-top: 3rem;
}

#contact-page .form-control::-moz-placeholder {
    color: #8D8D8D;
}

#contact-page .form-control {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #696763;
    height: 46px;
    padding: 6px 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}

#contact-page #message {
    height: 160px;
    resize: none;
}

#main-contact-form .btn-primary {
    margin-bottom: 15px;
    margin-top: 20px;
}

#contact-page .form-control:focus,
#contact-page .form-control:hover {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    border-color: #FDB45E;
}

#contact-page .contact-info {
    padding: 0 20px;
}

#contact-page .contact-info address {
    margin-bottom: 40px;
    margin-top: -5px;
}

#contact-page .contact-info p {
    margin-bottom: 0;
    color: #696763;
    font-size: 16px;
    line-height: 25px;
}

.social-networks {
    overflow: hidden;
    text-align: center;
}

.social-networks ul {
    margin-top: -5px;
    padding: 0;
    display: inline-block;
}

.social-networks ul li {
    float: left;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
}

.social-networks ul li:last-child {
    margin-right: 0;
}

.social-networks ul li a {
    color: #999;
    font-size: 25px;
}

.contact-info .social-networks ul li a i {
    background: none;
}

.contact-info .social-networks ul li a:hover {
    color: #171225;
}


.seller-buttom button {
    background: black;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
    margin-left: 9.755rem;
}
.seller-buttom button:hover{
    background: #FFFFFF;
    color: black;

}
